article {
 border: 1px solid #acacac;
 border-radius: 4px;
 width: 100%;
 margin: 14px 0;
 display: flex;
 align-items: center;
}

.list-content {
    padding: 10px;
}

.list-day {
    font-size: 2.5rem;
    font-weight: 900;
    color: RGBA(3, 178, 240, 1.00);
}

.list-title {
    font-size: 1.25rem;
    color: black;
    padding: 0;
}

.list-time {
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
}